* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font: 18px/1 sans-serif;
  color: #fff;
  scroll-behavior: smooth;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
