.btn{
    padding: 0.8em 1.7em;
    border-radius: .3em;
    cursor: pointer;
    transition: .4s ease-in-out;
    font-weight: normal;
    font-size: 20px;
    border: none;
    text-transform: capitalize;
    color:#00308F;
    background-color: white;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 0 0.2em 0 rgb(0, 0, 0,0.3);
   }
.btn:hover{
  color:#00308F;
  background-color: white;
  color: white;
  background-color: #00308F;
  transform: translateY(5px);
   }
   
   .input-wrapper{
    position: relative;
   }
  .input-wrapper input {
    font-size: 20px;
    width: 100%;
    padding:1em 0.5em 0.5em 0.5em;
    border: none;
    background-color: transparent;
    outline: none;
    position: relative;
    color:white;
    border:3px solid transparent;
  }
  
  .input-wrapper span{
    position: absolute;
    padding:1em 0.5em 0.5em 0.5em;
    font-size: 1.2em;
    left:50%;
    transform: translateX(-50%);
    color:white;
    transition: 0.2s ease;
    letter-spacing: 0.1em;
    pointer-events: none;
  }
  .input-wrapper input:focus ~ span,.input-wrapper input:valid ~ span{
    transform: translate(-11em,-30%);
    font-size: 0.8em;
  }
  .input-wrapper input:focus,.input-wrapper input:valid {
    border-bottom-color: white;

  }
  @media (width<950px){
    .input-wrapper input ~ span{
      font-size: 0.9em;
    }
    .input-wrapper input:focus ~ span,.input-wrapper input:valid ~ span{
      transform: translate(-3em,-30%);
    }
  }