.container{
  padding:2em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
}

.container ul{
  list-style-type: none;
}
  
  .screen {
    max-width: 800px;
    margin-block: 3em;
    border-left: 3px solid #fff;
    
    padding: 1em 2em;

   }
  .screen .question-row{
    display:inline-block;
    margin-bottom: 0.5em;
    font-weight: 900;
  }
  .screen .answer-row{
    display:inline-block;
    font-weight: 700;
  }
  
  .screen p {
    font-size: 35px;
    color: #fff;
    letter-spacing: 0.1em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
