.answer-question {
  background-color: rgb(2, 41, 79);
  min-height: 100vh;
  display: flex;
}
.answer-question h2 {
  align-self: center;
  padding: 0.5em;
  font-weight: bold;
  font-size: 2em;
}
.answer-question p {
  align-self: center;
  padding: 0em 2em 3em;
  color: rgb(148, 166, 184);
}

.answer-question .content {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.answer-question .img img {
  flex: 0 0 40%;
  height: 100vh;
}
.answer-question .btns {
  display: flex;
  gap: 2em;
}
.answer-question .btns .as-btn {
  padding: 1em 2em;
  border-radius: 20px;
  font-size: 1em;
  outline: none;
  font-weight: bold;
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
  transition: 0.3s ease;
  cursor: pointer;
}

.answer-question .btns .as-btn {
  padding: 1em 2em;
  background-color: rgb(50, 50, 158);
  color: white;
  transition: 0.3s ease;
  border: none;
  font-size: 1em;
  border-radius: 5px;
}
.answer-question .btns .as-btn:hover,
.answer-question .btns .as-btn.hovered {
  cursor: pointer;
  transform: translateY(5px);
  background-color: rgb(50, 50, 158, 0.5);
}
