
.number-question{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:15px;
    min-height: 100vh;
}

  .number-question > div{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 45px;
    font-size:40px;
  }
  .number-question > div input{
    text-align: center;
    border: none;
    width:4ch;
    font-size: 1em;
    padding:0.3em;
    background-color:white;
    color: #00308F;
  }
  .number-question > div input::-webkit-outer-spin-button,.number-question > div input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }
  .number-question > div input:focus{
    outline: none;
  }
  .number-question > div button{
    background-color:white;
    color: #00308F;
    border: none;
    cursor:pointer;
    font-size: 1em;
    transition: all 0.1s ease;
  }
  .number-question > div button:first-of-type{
    padding:0.3em;
    border-radius: 0.1em 0 0 0.1em;
  }
  .number-question > div button:last-child{
    padding:0.3em;
    border-radius: 0 0.1em 0.1em 0;
  }
  .number-question > div button:first-of-type:active{
    background-color: rgb(177, 177, 215);
  }
  .number-question > div button:last-child:active{
    background-color: rgb(177, 177, 215);
  }
  .number-question .seperator{
    width:100%;
    height:1px;
    background-color: white;
    margin-top: 0.5em;
  }